body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans Narrow, Arial, sans-serif;
}

.caption {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans Narrow, Arial, sans-serif;
}

.products-title {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans Narrow, Arial, sans-serif;
}
